p, body, time, dt, dd, td, th, address, .sbHolder a, #welcome-menu-login .lost_password a, .testimonial-wrapper .testimonial-smallquote, .nav span.highlight, .nav span.highlight-inverse, table.shop_table.my_account_orders tbody td.order-number a, .team-section .member-name, .widget.testimonial-widget .ms-skin-default .ms-nav-next, .widget.testimonial-widget .ms-skin-default .ms-nav-prev, table.shop_table.order_details tr.order_item td.product-name a, form.variations_form.cart a.reset_variations, .filters-container ul.filters li .filter-category, #portfolio_big li .info .categories a, #portfolio_small li .info .categories a, #portfolio_nav .title .categories a, #portfolio_big li .info .portfolio_meta .meta_content a, #portfolio_content .portfolio_meta .meta_content a, #portfolio_nav div a .info .next_terms, #portfolio_nav div a .info .prev_terms, #portfolio_content .title, #portfolio_content .content-style-social a, #ship-to-different-address label, .widget.widget_price_filter #min_price, .widget.widget_price_filter #max_price, .widget_price_filter .price_slider_amount .price_label, .widget.widget_layered_nav ul li a, ul.yith-wcan-list li a, ul.yith-wcan-list li small, .widget_product_categories ul a, .widget_product_categories ul span, #wp-calendar tfoot a, .widget_categories ul a, .widget_archive ul a, .widget_nav_menu ul a, .widget.widget_meta ul a, .widget_pages ul a, ul.short li, ul.blog_posts li div.blog_post .yit_post_meta span.info a, #bbpress-forums li.bbp-body ul li a, #bbpress-forums .bbp-forum-info .bbp-forum-content, .bbp-reply-post-date, .bbp-author-role, #bbpress-forums li.bbp-body .bbp-topic-voice-count, #bbpress-forums li.bbp-body .bbp-topic-reply-count, #bbpress-forums li.bbp-body .bbp-forum-reply-count, #bbpress-forums li.bbp-body .bbp-forum-topic-count, #buddypress div.dir-search label input[type="text"], #buddypress #members-order-select a, #buddypress #activity-stream p a, #buddypress #activity-stream .activity-comments .acomment-meta a, #buddypress #latest-update, #buddypress div.item-list-tabs ul li .sbHolder a, #buddypress .groups-members-search form label input[type="text"], #buddypress #activity-stream li .activity-meta a.fav, #buddypress #activity-stream li .activity-meta a.unfav, #buddypress #message-recipients span, #buddypress #message-recipients span a, #buddypress table.notifications tbody tr td a, #buddypress #search-message-form label input[type="text"], #buddypress span.activity, #buddypress div#message.info p, #buddypress div#message.updated p, #buddypress div#message p, #sitewide-notice p, #buddypress div#message.error p, .widget.widget_bp_core_members_widget.buddypress.widget .item-options a, .widget.widget_bp_groups_widget.buddypress.widget .item-options a, .widget.widget_bp_core_friends_widget.buddypress.widget .item-options a, .widget a.bbp-forum-title, .widget a.bbp-view-title, .widget a.bbp-reply-topic-title, .widget a.bbp-forum-title, .cx-form .cx-lead, .cx-form input, .cx-form textarea, .cx-form input:focus, .cx-form textarea:focus, .cx-widget .cx-line .cx-title, .modal-shortcode .modal-opener a, .widget.yit_recent_reviews .review-meta-avatar a, .sitemap a, .woocommerce-product-rating a.woocommerce-review-link, .yith-woocompare-widget ul.products-list li a.title, .yith-woocompare-widget a.clear-all, .widget_yith-wcwl-lists ul.dropdown > li.dropdown-section a, .woocommerce-tabs .ywsl-label, #reviews #comments ol.commentlist li .comment-text > div.star-rating span,
.widget_search_mini .search_mini_content label, .widget_search_mini .select-wrapper .holder, #mini-search-submit, .yith-ajaxsearchform-container #yith-searchsubmit, #header .search_mini_content .sbSelector,
#topbar, #topbar a .welcome_username b, #header .widget.yit_text_image div.widget_text h6, #header-row .widget_text h6 {
	text-align: right;
}
.alignleft, img.alignleft {
	float: right;
}
.alignright, img.alignright {
	float: left;
}
#header-row .header-wrapper div.header-row-left {
	float: right;
	margin-left: auto;
	margin-right: 10px;
}
#header-row .header-wrapper div.header-row-right {
	float: left;
	margin-left: auto;
	margin-right: 10px;
}
#header-row .yit-custom-megamenu ul, .yit-vertical-megamenu ul {
	padding: 0;
	margin: 0;
}
#header.skin1 #logo {
	float: right;
	text-align: right;
	padding-right: 0;
	padding-left: 30px;
}
.widget_search_mini .search_mini_content label,
#header.skin1 .nav, #header.skin2 #header-sidebar .nav {
	float: right;
}
.widget_search_mini .search_mini_content label.search_mini_label {
	border-right: 0;
	border-left: 1px solid;
}
#header-row .header-wrapper div.header-row-right .widget.widget_text,
#header-row .header-wrapper div.header-row-right .widget.yit_text_image {
	border-left: 0;
	border-right: 1px solid;
}
.widget_search_mini #mini-search-submit, .widget_search_mini #yith-searchsubmit,
#header-sidebar {
	float: left;
}
#header.skin1 .nav > ul, #header.skin2 #header-sidebar .nav > ul {
	margin-right: 0;
}

.nav > ul > li  div.submenu ul.sub-menu, #lang_sel li ul {
	margin-left: auto;
	margin-right: -17px;
}

// flip the cart icon

#header a.cart-items .yit-mini-cart-background {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#header span.yit-mini-cart-icon {
	position: relative;
	left: -3px;
}

.widget.yit_text_image div.widget_image.left {
    float: right;
    margin-right: auto;
    margin-left: 10px;
}